{
  "parser": "babel-eslint",
  "plugins": [
    "react-hooks",
    "jsx-a11y"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "plugin:jsx-a11y/recommended"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-props-no-spreading": 0,
    "react/require-default-props": 0,
    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": 0,
    "arrow-parens": ["warn", "as-needed"],
    "comma-dangle": ["warn", "never"],
    "object-curly-newline": ["warn", { "consistent": true }],
    "no-case-declarations": 0,
    "import/prefer-default-export": 0,
  }
}
